.footer{
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: black;
    color: aliceblue;
    border-top: 2px solid #f44336;
    padding-block: 0.5rem;
    
    
}

.footer h2 {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
}